@model App.Backoffice.Mvc.Models.VoucherViewModel

@{
    ViewData["Title"] = "Detalhes do Cupom";
}

<h3>@ViewData["Titulo"]</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Codigo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Codigo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Percentual)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Percentual)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ValorDesconto)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ValorDesconto)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quantidade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quantidade)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TipoDesconto)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TipoDesconto)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataCriacao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataValidade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataValidade)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ativo)
            </dd>
        </dl>

        <div>
            <a class="btn btn-primary" asp-action="Editar" asp-route-id="@Model.Id">Editar</a>
            <a class="btn btn-danger" href="javascript:window.history.back();">Voltar</a>
        </div>
    </div>
</div>
